doctype html
html(lang='en')
 head
   title addResult
   link(rel='stylesheet' , href='css/styles.css')
 body
   h3 Resultat du calcul
   p 
     label a=
     span #{a}
   p 
     label b =
     span #{b}
   p 
     label a+b=
     span #{resAdd}
