doctype html
html(lang='en')
 head
   title addResult
   link(rel='stylesheet' , href='css/styles.css')
 body
   h3 Resultat du calcul
   p 
     label a=
     span #{a}
   p 
     label b =
     span #{b}
   p 
     label a+b=
     span #{resAdd}
   hr
   if resAdd>=0
     span le resultat est positif
   else 
     span le resultat est negatif
   hr
   ul
     each c in couleurs
      li #{c}
