<html>

<head>
    <meta charset="utf-8">
    <title>server-home</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <h3>server-home (ejs)</h3>
    <a href="calcul">nouveau calcul</a><br />
    <%- include('./partials/footer'); %>
</body>

</html>